.addTaskBtn{
    width: 100px;
    height: 40px;
    border-style: solid;
    border-color: #2980B9;
    border-radius: 2px;
    margin: 10px 10px 10px 10px;
    color:#2980B9;
    background-color: white;
    transition: 200ms;
}
.addTaskBtn:hover{
    background-color:#2980B9 ;
    color: white;
}