.card_pending {
  background-color: #a7c7e7;
  border-radius: 5px;
}
.card_complete {
  background-color: #c1e1c1;
  border-radius: 5px;
}
.card {
  margin: 10px;
}
.taskName {
  width: 400px;
  display: flex;

  flex-wrap: wrap;
}
